<section class="cart">
  <h2 class="title">cart</h2>

  @if (cart().length === 0) {
    <p class="empty">Tu cart está vacío.</p>
  } @else {
    <ul class="list">
      @for (product of cart(); track product.id) {
        <li class="item">
          <span class="line">
            {{ product.name }} - {{ product.price | currency:'MXN' }}
          </span>

          <button class="btn danger" (click)="quitar(product.id)">
            Quitar
          </button>
        </li>
      }
    </ul>

    <div class="total">
      Total: {{ total() | currency:'MXN' }}
    </div>

    <div class="actions">
      <button class="btn" (click)="vaciar()">Vaciar cart</button>
      <button class="btn purple" (click)="exportarXML()">Exportar Recibo XML</button>
    </div>
  }
</section>

